@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Merienda');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Merienda', cursive;
}
.login-form{
    background: url(../img/sparkler-677774_1920.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.containter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 20px;
    background: #2b3e4694;
    color: white;
    box-shadow: 0 0 50px #0b0f10;
    width: 35%;
}
h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
img{}
form{}
input{
    width: 100%;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 15px;
}
form ul{}
form ul li{float: left;width: 50%;list-style: none;}
form ul li input{
    width: auto;
}
form ul li input span{}
form ul li p{text-align: right;display: block;}
form ul li p a{
    color: #86b5ca;
    display: block;
    text-align: right;
}
form ul li p a:hover{color: #9de1ff;}
.login{}
.btn{
    background: #455b68;
    border: 0;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 20px;
    border: 0
    transition: all 0.4s ease;
    cursor: pointer;
}
.btn:hover{
	background: #1c2a2f;
}
.login p{
    text-align: center;
}
.login p a{
    color: #86b5ca;
}
.login p a:hover{
    color: #9de1ff;
}